/* Custom css for template */
body {
    background-image: url("../assets/img/background/wood.jpg") !important;
}

footer div ul li a:first-child {
    margin: 10px 0 0 10px;
}

footer div ul li a {
    margin: 10px 0 0 0;
}

span.error {
    background-color: #92181c !important;
}

/* BEM Styles */
.header__logo {
    padding: 10px;
}

.header__logo--hide {
    display: none;
}

.header__logo--show {
    display: inital;
}

.header__background {
    background-image: url("../assets/img/background/arches.png") !important;
    @include box-shadow(black 2px 2px 10px);
}

.header__socialmedia {
    margin: 10px 10px 0 0;
}

.main-content-area__section-background {
    background-color: $white;
    @include box-shadow(black 2px 2px 10px);
}

.main-content-area__section-wrapper-background {
    background-image: url("../assets/img/background/yogamat_red.png") !important;
    @include box-shadow(black 2px 2px 10px);
}

.main-content-area__section--offset {
    @media #{$small-only} {
        margin-top: 60px;
    }
    @media #{$medium-up} {
        margin-top: 181px; 
    }
}

.main-content-area__section--offset-small {
    margin-top: 60px;
}

.main-content-area__section-mood-image {
    margin-bottom: 20px;
    position: relative;
}

.main-content-area__section-mood-image-label {
    background-color: $secondary-color;
    position: absolute;
    @include border-bottom-left-radius(300px);
    @include border-bottom-right-radius(300px);
    @include border-top-left-radius(300px);
    @include border-top-right-radius(0px);
    @include opacity(0.8);
    @media #{$small-only} {
        border: $primary-color 3px solid;
        left: 5px;
        padding: 0 10px;
        top: 5px;
    }
    @media #{$medium-up} {
        border: $primary-color 7px solid;
        left: 15px;
        padding: 0 10px;
        top: 15px;       
    }
}

.main-content-area__section-mood-image-font {
    color: $primary-color;
    font-family: "Pacifico",cursive;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizelegibility;
    @media #{$small-only} {
        font-size: rem-calc(15);
        line-height: 1.5;
    }
    @media #{$medium-up} {
        font-size: rem-calc(29);
        line-height: 1.5;      
    }
}

.detail-page--full-height {
    min-height: 75vh !important;
}

/* Custom css for slider */
.orbit-container .orbit-slides-container > * .orbit-caption {
    @media #{$small-only} {
        font-size: 0.7rem !important;
        padding: 0.1rem 0.2rem !important;
    }
}

/* Custom css for timetable section */
.event_header_link {
    font-size: 13px !important;
    text-decoration: underline !important;
}

/* Custom css for team section */
.tshowcase-inner-box .tshowcase-box-info.ts-align-center .tshowcase-box-title a {
    font-size: 0.9em;
}

.entry-content .entry-title {
    margin: 10px 0px;
}

.ts-col_3 div img {
    margin-bottom: 10px;
}